# EDA

a) Start by doing some initial EDA such as info(), describe() and figure out what you want to do with the missing values.

In [2]:
import pandas as pd
import seaborn as sns

mpg = sns.load_dataset("mpg")

type(mpg)

pandas.core.frame.DataFrame

In [3]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [4]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [5]:
mpg["horsepower"].unique()

array([130., 165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,
        95.,  97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193.,
        nan, 100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,
        65.,  69.,  60.,  80.,  54., 208., 155., 112.,  92., 145., 137.,
       158., 167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,
        78.,  52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,
        81.,  79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,
        48.,  66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62.,
       132.,  84.,  64.,  74., 116.,  82.])

In [6]:
mpg_clean = mpg.dropna()

b) Use describe only on those columns that are relevant to get statistical information from.

In [7]:
mpg_df = mpg_clean.drop("displacement", axis=1)

mpg_df.columns

Index(['mpg', 'cylinders', 'horsepower', 'weight', 'acceleration',
       'model_year', 'origin', 'name'],
      dtype='object')

In [8]:
mpg_df.describe()

,mpg,cylinders,horsepower,weight,acceleration,model_year
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,104.469388,2977.584184,15.541327,75.979592
std,7.805007,1.705783,38.491160,849.402560,2.758864,3.683737
min,9.000000,3.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,75.000000,2225.250000,13.775000,73.000000
50%,22.750000,4.000000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,126.000000,3614.750000,17.025000,79.000000
max,46.600000,8.000000,230.000000,5140.000000,24.800000,82.000000

In [9]:
mpg_df.to_csv("df_cleand", index=False)